@import "./themes.css";

/* .condition-btn {
  @apply relative flex items-center justify-between gap-2 px-3 py-1.5 rounded-md border border-blue-200 bg-white cursor-pointer overflow-hidden transition-colors duration-300 ease-in-out hover:border-[#00b8ff] hover:shadow-md after:content-[''] after:absolute after:inset-0 after:bg-[#00b8ff] after:scale-x-0 after:origin-left after:transition-transform after:duration-300 after:ease-in-out hover:after:scale-x-100 after:z-0;
  text-decoration: none !important;
} */

.dropdown-arrow::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 13px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  filter: drop-shadow(0 -2px 2px rgba(0,0,0,0.1));

}


.cloth-bg {
  background-image: url("/images/cloth.svg");
  @apply relative z-999 w-full bg-no-repeat bg-bottom bg-contain  h-80 md:h-[480px];
}